* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background-color: white;
  margin: auto;
}

.headline #bigText {
  font-size: 29px;
  font-weight: 700;
  line-height: 68px;
  text-align: left;
  color: #172b4d;
  padding-top: 20px;
}

.headline .smallText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.supportingText {
  color: #7f8cff;
  font-weight: 500;
  line-height: 24px;
  font-size: 1rem;
}

.socialmedia ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.headline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 14px 24px;
  background-image: url(header-shapes\ mobile.png);
  height: 716px;
  background-size: cover;
  flex: 1;
  background-repeat: no-repeat;
  align-items: flex-start;
}

nav {
  padding: 20px 24px 21px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

nav #logo {
  width: 18px;
  height: 12px;
  color: #6070ff;
}

nav #myLogo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.grid-box {
  width: min(327px, 80vw);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  border-radius: 8px;
  width: 100%;
  gap: 88px;
  padding: 114px 0;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.box {
  background-color: #ffffff;
  gap: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: min(327px, 80vw);
  border: 2px solid #DFE1E6;
}

.banner {
  border-radius: 8px;
  width: min(327px, 80vw);
}

input {
  color: #396DF2;
  font-size: 17px;
  font-weight: 500;
  width: 110px;
  background-color: #fff;
  border-color: #6070FF;
  border-radius: 8px;
  padding: 8px 5px;
  display: flex;
  width: min(127px, 80vw);
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

ul {
  display: flex;
  gap: 12px;
  padding: 0;
}

p {
  text-align: left;
  font-size: 17px;
}

@media (max-width: 330px) {
  ul {
    flex-wrap: wrap;
  }
}

.tag {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
}

.about {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 49px;
  flex-wrap: wrap;
}

.about-header {
  line-height: 52px;
  font-size: 40px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.resume {
  color: #396DF2;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  border-color: #6070FF;
  padding: 4px 14px 4px 14px;
  display: flex;
  border-radius: 8px;
}

.drop {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.drop-text {
  font-size: 15px;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 150px;
}

.drop-box {
  display: flex;
  flex-direction: column;
}

.drop-li {
  display: flex;
  background-color: #f7f7f9;
  padding: 12px 12px;
  border-radius: 8px;
}

.lang {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.union {
  height: 10px;
  align-self: center;
}

.union-down {
  height: 18px;
  align-self: center;
}

.dropdown {
  width: min(375px, 80vw);
  display: flex;
  flex-direction: column;
  padding: 0 49px;
  flex-wrap: wrap;
}

@media (max-width: 203px) {
  .drop-li {
    flex-direction: column;
  }

  .mini-icon {
    width: 48px;
    height: 48px;
  }

  .drop-text {
    text-align: left;
    padding: 0;
  }
}